#canvas {
	display: block;
	width: 600px;
	height: 400px;
	border: 3px solid black;
}
#canvas-wrapper{
	display: flex;
	justify-content: center;
	height: 100vh;

}

.mouseCoordinates{
	display: flex;
	justify-content: center;
}
.setting{
	margin-left: 20px;
	display: flex;
	justify-content: center;
}
.setting__color{
	margin-bottom: 10px;
}
.setting__color-color{
	display: flex;
}
.color-red{
	background-color: red;
}
.color-green{
	background-color: green;
}
.color-blue{
	background-color: blue;
}

.color{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
	box-sizing: border-box;
}