.wrapper {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    color: white;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.input {
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    text-align: center;
    font-family: 'Exo', sans-serif;    
}

#title{
    margin-top: 5%;
    font-family: 'Exo', sans-serif;    
}

.button__one, .button__two {
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-size:24px; 
    outline: none;
    
    border: none;
    border-radius:5px;
    box-shadow: 0 9px #95a5a6;
}
.button__one {
    background-color: #27ae60;
}
.button__two {
    background-color: #cc3434;
}

.hover:hover{
    background-color: #2ecc71;
}
.button__two:hover{
    background-color: #ff1e00;
}

.active:active {
    background-color: #2ecc71;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
}
.button__two:active {
    background-color: #ff1e00;;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
}