body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 50vh;
    background-color: #e8eaf6;
}
.countdown__names {
    display: flex;
}
.input-wrapper{
    display: flex;
}
.button{
    cursor: pointer;
    background-color: #2962ff;
    color: white;
    width: 80px;
    height: 40px;
    font-weight: 600;
    
}
.btn-set{
    width: auto;
    height: 40px;
}
.button-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10px;
}
.caption{
    width: 100%;
    background: #2962ff;
    display: flex;
    justify-content: center;
    &__h1{
        font-size: 20px;
        color:white;
    }
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
.timer-input{
    height: 20px;
}